<!-- app/views/payments/new.html.erb -->
<h1>Purchase <%= @reservation.time %></h1>
<%= form_tag reservation_payments_path(@reservation) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@reservation.amount) %></span>
    </label>
  </article>

<% end %>
