// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

/* HSL */
$color1: hsla(136%, 24%, 38%, 1);
$color2: hsla(139%, 23%, 47%, 1);
$color3: hsla(191%, 64%, 40%, 1);
$color4: hsla(9%, 68%, 58%, 1);
$color5: hsla(29%, 96%, 56%, 1);

/* RGB */
$amazongreen: rgba(74, 120, 86, 1);
$russiangreen: rgba(92, 148, 110, 1);
$cyanblue: rgba(37, 142, 166, 1);
$jellyred: rgba(221, 97, 74, 1);
$princetonorange: rgba(251, 139, 36, 1);
