<div class="container">
  <h1>Restaurants::images#index</h1>
  <%= @images.first.restaurant_id %>
  <%= @images.first.image_url %>
  <%= current_restaurant.id %>

  <% @images.each do |image| %>
    <div class="card">
      <% if image.restaurant_id == current_restaurant.id %>
      <%= form.file_field :images, multiple: true %>
      <% end %>
    </div>
  <% end %>
</div>
