<div class="container">
    <h1>Customer::Restaurants#index </h1>
    <h3>(open to visitors, meaning that restaurants, customers and non-signed-up visitors can view this page)</h3>
    <hr>

  <%= render "shared/card" %>
  <%= render "shared/map" %>


</div>


