<div class="white-wrapper">
  <div class="container">
    <h1 class="font-center">Who do you wanna take to a gorgeous dinner? </h1>
    <hr>

    <div class="wrapper-restaurant-index">
      <div class="card-restaurant-index"><%= render "shared/card" %></div>
      <div class="map-restaurant-index"><%= render "shared/map" %></div>
    </div>
    <br> <br>
  </div>

</div>
