<div class="white-wrapper">
  <div class="container">
    <h1 class="font-center">Who do you wanna take to a gorgeous dinner? </h1>
    <hr>

    <div class="wrapper-restaurant-index">
      <%= render "shared/card" %>
      <%= render "shared/map" %>
    </div>
    <br> <br>
  </div>

</div>
