  <div class="row">
    <div class="card">
      <% @restaurants.each do |restaurant| %>
      <p>SECOND INSTRUCTION!</p>
        <p><%= restaurant %></p>
        <p style="color:blue"> DRY! ONE WILL HANDLE RESTAURANT CARD </p>
        <p style="color:red"> ALWAYS USE DATA FROM SCHEMA. IN THIS CASE, IT WOULD BE restaurant.dresscode for example. IF YOU NEED MORE INFO, LET'S DISCUSS DATABASE ITSELF</p>
        <p style="color:green"> SET A PIC FOR THIS CARD. IMPLEMENT CLOUDINARY </p>
        <p style="color:red"> DON'T USE PLAIN HTML FOR A LINK. USE LINK_TO "", _path, class: "something"</p>
      </div>
    <% end %>
  </div>
</div>

<p>FIRST INSTRUSTION! (ROUTE -> CONTROLLER -> VIEW!)</p>
<p>Go back to Sublime and find _card.html.erb</p>
<p>"Command + P" and type "routes" and click. Then you can find route.rb. ON line 32of route.rb, You can check another instruction</p>
