<div class="container">
  <h1>Reservatino#home</h1>
  <p style="color:green">SET A BANNE IMAGE WITH SHORT DESCRIPTION</p>

  <hr>
  <%= render "shared/card" %>

  <%= link_to "GO TO RESTAURANT INDEX", customers_restaurants_path %>

</div>
