
.card-restaurant {
  position:relative;
  height: 200px;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}


.card-category {
 position: absolute;
 top: 10px;
 left: 10px;
 font-size: 15px;
 text-transform: uppercase;
 color: #258EA6;
 }

.card-name {
 font-size: 40px;
 text-align: center;
 color: #258EA6;
 }

 .card-address {
 font-size: 14px;
 position: absolute;
 bottom: 10px;
 right: 10px;
 color: #258EA6;
 }

 .card-link{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #258EA6;
 }

.card-link:hover {
 opacity: 1;
 }


  .img-tag-card {
  position: absolute;

 }


.card {
background-color: #EDEDED;
}

.card-reservation {
  background-color: #EDEDED;
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}

.card-reservation-show {
  background-color: white;
  padding: 15px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
}

.card-chef {
  background-color: #EDEDED;
  padding: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);

}

