<div class="container">
  <h1>Restaurants::Reviews#index</h1>
  <% @reviews.each do |review| %>
    <div class="card">
      <p> Name: <%= review.customer.email %> </p>
      <p> Comment: <%= review.comment %> </p>
      <p> Restaurant ID: <%= review.restaurant.id %> </p>
    </div>
    <br>
  <% end %>
  <%= link_to "Back", root_path %>
</div>
